body {
  margin: 0px;
  font-family: 'segoe ui';
}

a {
  color: #000;
}

/* header */
.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */
.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* Hero*/
.hero{
  min-height: 300px;
  background-image: url(img/hero.jpg);
  background-size: cover;
  background-position: center;
  padding: 140px;
}

/* Project */
.project .gambar{
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.project .gambar, .about .gambar{
  margin :20px 20px 0 20px;
  display: grid;
  gap:10px;
}

.project .gambar .item, .about .gambar .item{
  cursor: pointer;
  position: relative;
}

.project .gambar .item img, .about .gambar .item img{
  width: 100%;
}

.project .gambar .item .info{
  position: absolute;
  left:10px;
  top:0;
  opacity: 1;
  height: 98%;
  width: 100%;
}

.project .gambar .item .info p{
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
  padding-left: 20px;
}

/* About */
.about .isi p, .contact .isi h4{
  margin: 20px 20px 0 20px;
}

.about .gambar{
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.about .gambar .item  .work{
  color: #808080;
}

.about .gambar .item  .deskripsi, .about .isi p{
  line-height:1.5;
}

.about .gambar .item  button{
  width: 100%;
  height: 35px;
}

/* Contact */
.contact{
  margin-bottom: 45px;
}

.contact form{
  margin-left: 20px;
  margin-right: 40px;
}

.contact form input{
  height: 40px;
}

.peta{
  margin:0 20px;
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}

.peta iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.contact form input{
  display: block;
  width:100%;
}

.contact form .button{
  background-color: #070617;
  border: none;
  color: #fff;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 30px;
}

/* Footer */
.footer {
  width: 100%;
  position: fixed;
  height: 40px;
  bottom: 0;
  text-align: center;
  color:#fff;
  background-color: #070617;
}

/* Responsive */
@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
